# Carpeta donde se guardarán los jobs generados
aa_JOBS_folder="jobs"

# Carpeta donde se guardarán los logs de SLURM
aa_LOGS_folder="apolo_info"

# Configuración de SLURM
aa_PARTITION="longjobs"
aa_NODES=1
aa_TASKS=1
aa_TIME="07-00:00:00"  # Días-Horas:Minutos:Segundos
aa_EMAIL="mmanzurg@eafit.edu.co"

# Módulo de Python y Conda
aa_PYTHON_MODULE="python/3.6.0_miniconda-4.3.11_gcc-11.2.0"
aa_CONDA_ENV="abc4sfa"

# Parámetros para generar las combinaciones de jobs
declare -A aa_PARAMS
#aa_PARAMS["app_name"]="swissRailWays spainDairy usElectricity indonesianRice usBanks"
aa_PARAMS["app_name"]="usBanks"


# Opción para usar todas las combinaciones o solo pares
aa_USE_ALL_COMBINATIONS=true  # true = todas las combinaciones, false = solo pares en orden
